
<head>

  <title>Formulario de Incidencias</title>
</head>
<body>
  <div class="form-container">
    <form>
      <h1>Formulario de Incidencias</h1>
      <label for="nombre-alumno">Nombre del Alumno:</label>
      <input type="text" id="nombre-alumno" name="nombre-alumno" required>
      <br><br>
      <label for="apellido-paterno">Apellido Paterno:</label>
      <input type="text" id="apellido-paterno" name="apellido-paterno" required>
      <br><br>
      <label for="apellido-materno">Apellido Materno:</label>
      <input type="text" id="apellido-materno" name="apellido-materno" required>
      <br><br>
      <label for="grado">Grado:</label>
      <input type="text" id="grado" name="grado" required>
      <br><br>
      <label for="grupo">Grupo:</label>
      <input type="text" id="grupo" name="grupo" required>
      <br><br>
      <label for="turno">Turno:</label>
      <input type="text" id="turno" name="turno" required>
      <br><br>
      <label for="fecha-hora">Fecha y Hora:</label>
      <input type="datetime-local" id="fecha-hora" name="fecha-hora" required>
      <br><br>
      <label for="nombre-profesor">Nombre del Profesor:</label>
      <select id="nombre-profesor" name="nombre-profesor" required>
        <option value="" disabled selected>Seleccione el nombre del profesor</option>
        <option value="profesor1">Profesor 1</option>
        <option value="profesor2">Profesor 2</option>
        <option value="profesor3">Profesor 3</option>
      </select>
      <br><br>
      <label for="nombre-profesor">Tipo de Incidencias:</label>
      <select id="nombre-profesor" name="nombre-profesor" required>
        <option value="" disabled selected>Seleccione la incidencia</option>
        <option value="incidencia1">Indiciplina</option>
        <option value="incidencia2">Falta de tareas</option>
        <option value="incidencia3">No trabajo en clase</option>
        <option value="incidencia4">Constantemente fuera del aula</option>
        <option value="incidencia5">No entra a clase</option>
        <option value="incidencia6">Cabello pintado</option>
        <option value="incidencia7">Llegar tarde a clases</option>
        <option value="incidencia8">No cumple con carpeta</option>
        <option value="incidencia9">No trae libro</option>
        <option value="incidencia10">Uñas pintadas</option>
        <option value="incidencia11">Uniforme incompleto</option>
        <option value="incidencia12">Uso de bisuteria</option>
        <option value="incidencia13">Falta de respeto al maestro</option>
        <option value="incidencia14">Corte de cabello</option>
        <option value="incidencia15">Acumulacion de retardos</option>
        <option value="incidencia16">Cara maquillada y/o ceja depilada</option>
        <option value="incidencia17">Agredir a un compañero</option>