<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="text-center">Contacto: Adrik Volkov</p>
          <p class="text-center">Empresa: Volkov y Asociados</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="social-icons text-center">
            <a href="#">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter-square"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  